.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.db
*.sqlite3
*.sqlite
.env
.pytest_cache/
.coverage
htmlcov/
*.log
dist/
build/
*.egg-info/
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.suo
*.user
*.sublime-project
*.sublime-workspace
