# Environments & Secrets
.env
.env.*
!.env.example
!.env.sample

.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3
*.sqlite
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
dist/
build/
*.egg-info/
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.suo
*.user
*.sublime-project
*.sublime-workspace
